.form {
    display: flex;
    justify-content: center;
    &__content {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        border-radius: 5px;
        width: 600px;
        height: 600px;
        background-color: rgb(106, 145, 145);
        margin-top: 100px;
        &-title {
            text-align: center;
            color: white;
            font-size: 30px !important;
            font-weight: 600 !important;
        }
    }
    &__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__button {
        &-content {
            background-color: #4646c3 !important;
            color: white !important;
            width: 200px;
            border-radius: 10px;
            margin: 10px;
        }
    }
    &__input {
        width: 300px;
    }
    &__martFormField {
        margin-top: 10px;
        height: 50px;
    }
    .mat-error {
        color: red !important;
    }

}


    .cdk-overlay-pane {
        max-width: 100vw !important;
    }

    .mat-mdc-form-field-infix {
        height: 10px !important;
    }

    .mdc-button__label {
        z-index:0 !important;
    }

    @media (min-width: 250px) and (max-width: 720px) {
        .form {
            padding: 10px 20px;
            &__text {
                padding: 10px 20px;
            }
        }
    }

    @media (min-width: 721px) {
        .form {
            &__martFormField{
             width: 350px;
            }
        }
    }